.browser-content {
  --background: #ffffff;
}

.app-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .browser-content {
    --background: #000000;
  }
}


